html
  head
    include header.jade
  body
    h2.logo
      a(href="/")=global.title

    hr

    header
      h1=title
      p
        time=date
      ul.tags
        each tag in tags
          li
            a(href="/tags/" + tag)=tag

    main.markdown !{contents}

    //- Labels to indicate reverse cronology

    if (previous)
      p Next Post:
      a(href='/' + previous.path)=previous.title

    if (next)
      p Previous Post:
      a(href='/' + next.path)=next.title

    hr

    include footer.jade
