html
  head
    include header.jade
  body
    h2.logo
      a(href="/")=global.title

    hr

    header
      h1=title
      p by #{global.author}
      p
        time=date

    main !{contents}

    include footer.jade
