html
  head
    include header.jade
  body
    h2.logo
      a(href="/")=global.title

    hr

    header
      h1=title
      p.subheader
        time
          em=publishDate

    main.markdown !{contents}
    
    div.interpost-navigator
      
      .direction.previous
        if (next)
          p Previously
          a(href='/' + next.path)=next.title
    
      .direction.next
        if (previous)
          p Next up
          a(href='/' + previous.path)=previous.title
    
    ul.tags
      each tag in tags
        li
          a(href=global.root+"tag/" + tag)=tag

    hr

    include footer.jade
